<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Clipplex</title>
        <link rel="icon" type="image/png" href="static/icons/clipplex_icon.png">
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="static/js/all.min.js" crossorigin="anonymous"></script>
        <script src="static/js/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="instant_video.html"><img src="static/icons/clipplex_icon.png" width="45" height="45">  Clipplex</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar-->
            <!--
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        -->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="instant_video.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-hand-scissors"></i></div>
                                Take a video
                            </a>
                            <!--
                            <a class="nav-link" href="instant_snapshot.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                                Take a snapshot
                            </a>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-folder-open"></i></div>
                                View files
                            </a>-->
                        </div>
                    </div>
                    <!--
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        jonike
                    </div>-->
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% block content %}{% endblock %}
                    </div>
                </main>
            </div>
        </div>
    <script src="static/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
    </body>
</html>
